[SddmGreeterTheme]
Name=JaguOS Login Theme
Description=The JaguOS login theme
Author=Jonas Jaguar
License=GPLv3
Type=sddm-theme
Version=0.1.0
Website=https://github.com/jonasjaguar/jaguos-login-theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=marianarlt@icloud.com
Theme-Id=jaguos-login
Theme-API=2.0
